@page "/blazor/comparison"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Comparison | Blazor | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Comparison" HeaderSection="Blazor">
    <div class="w-100 row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (var framework in frameworks)
                        {
                           <th>@framework</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < criteries.Length; i++)
                   {
                        <tr>
                           <th>@criteries[i]</th>
                           @foreach (var framework in frameworks)
                          {
                              <td>
                                  <div>
                                      @data[framework].ElementAtOrDefault(i)
                                  </div>
                              </td>
                          }
                       </tr>
                   }
                </tbody>
            </table>
        </div>
    </div>
</SlideContent>

@code {
    private string[] frameworks = new string[]
    {
        "Angular",
        "React",
        "Vue",
        "Blazor",
    };

    private string[] criteries = new string[]
    {
        "Languages",
        "Ownership",
        "Community",
        "Release Year",
        "Learning Curve",
        "Routing",
        "State Management",
        "Forms Validation",
        "HTTP Client"
    };

    private Dictionary<string, IEnumerable<string>> data = new Dictionary<string, IEnumerable<string>>
    {
        {
            "Angular",
            new List<string>
            {
                "TypeScript",
                "Google",
                "Large",
                "2010 (2016)",
                "Steep",
                "Built-in",
                "NgRx",
                "Built-in",
                "Built-in"
            }
        },
        {
            "React",
            new List<string>
            {
                "JavaScript, TypeScript",
                "Meta (Facebook)",
                "Large",
                "2013",
                "Easy to learn",
                "External (third-party)",
                "Redux",
                "External",
                "Fetch API, Axios"
            }
        },
        {
            "Vue",
            new List<string>
            {
                "JavaScript, TypeScript",
                "Evan You",
                "Medium",
                "2014",
                "Easy to learn",
                "External (official)",
                "VueX, Pinia",
                "External",
                "Fetch API, Axios"
            }
        },
        {
            "Blazor",
            new List<string>
            {
                "C#",
                "Microsoft",
                "Small/Medium",
                "2018",
                "Smooth and Easy",
                "Built-in",
                "Custom",
                "Built-in",
                "Built-in"
            }
        }
    };
}
