@page "/blazor/hosting-models"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Hosting Models | Blazor | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Hosting Models" HeaderSection="Blazor">
<div class="row w-100">
    <div class="col-4">
        <div title="Blazor Server">
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Blazor Server</h3>
                </div>
                <div class="col-12 text-center">
                    <img src="/images/blazor-server.png">
                </div>
                <div class="col-12">
                    <DefaultList Items="@(new string []
                    {
                        "Complete .NET Core API compatibility",
                        "Direct access to server sources",
                        "Small payload size with fast initial load time",
                        "App code secure and private on the server"
                    })">
                    </DefaultList>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div title="Blazor WebAssembly">
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Blazor WebAssembly</h3>
                </div>
                <div class="col-12 text-center">
                    <img src="/images/blazor-webassembly.png">
                </div>
                <div class="col-12">
                    <DefaultList Items="@(new string []
                    {
                        "Run apps offline once downloaded",
                        "Static site hosting",
                        "Offloads processing to clients"
                    })">
                    </DefaultList>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div title="Blazor Hybrit">
            <div class="row">
                <div class="col-12">
                    <h3 class="title">Blazor Hybrit</h3>
                </div>
                <div class="col-12 text-center">
                    <img src="/images/blazor-hybrit.png">
                </div>
                <div class="col-12">
                    <DefaultList Items="@(new string []
                    {
                        "Reuse existing components that can be shared across mobile, desktop, and web",
                        "Leverage web development skills, experience, and resources",
                        "Apps have full access to the native capabilities of the device"
                    })">
                    </DefaultList>
                </div>
            </div>
        </div>
    </div>
</div>
</SlideContent>

@code {

}
