@page "/examples/components"
@inherits SlidePage


<PageTitle>@GetBrandedTitle($"Components | Examples | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Components" HeaderSection="Examples">
     <div class="row">
         <div class="col-5 d-flex">
             <div class="m-auto">
                 <ArtTitle Title="Hello"></ArtTitle>
                 <ArtTitle Title="Summer"></ArtTitle>
             </div>
         </div>
         <div class="col-7 d-flex">
             <div class="d-flex m-auto">
                <SourceCodeRenderer SourceCodeKey="ArtTitleUsage" Language="cshtml-razor"/>
                <SourceCodeRenderer SourceCodeKey="ArtTitle" Language="cshtml-razor"/>
             </div>
         </div>
     </div>
</SlideContent>


@code {

}