.slide-header {
    height: 180px;
    width: 100%;
    display: block;
    padding: 35px;
    background: linear-gradient(90deg, rgba(0, 32, 96, 1), rgba(0, 44, 133, 1));
}

.slide-header .section {
   color: rgb(0, 177, 236);
   font-size: 12px;
   font-weight: 600;
}

.slide-header .title {
    color: white;
    font-size: 40px;
    font-weight: bold;
}