@inject IJSRuntime JS
@inject ISourceCodeProvider SourceCodeProvider

<div class="card">
    <div class="card-body">
        <div class="highlighted-source-code">
            <pre>
                <code>
                    @((MarkupString)highlightedSourceCodeHtml)
                </code>
            </pre>
        </div>
    </div>
</div>

@code {
    private string highlightedSourceCodeHtml;

    private string sourceCode;
    
    [Parameter]
    public string SourceCodeKey { get; set; }

    [Parameter]
    public string Language { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(SourceCodeKey) && !string.IsNullOrWhiteSpace(Language))
        {
            this.sourceCode = await SourceCodeProvider.GetSourceCodeStringAsync(SourceCodeKey); 
            this.highlightedSourceCodeHtml = await JS.InvokeAsync<string>("highlightCode", this.sourceCode, Language);
        }
    }
}
