<div class="d-flex h-100">
    <div class="ms-0 me-auto my-auto">
        <div class="title-page-padding-left">
            <h1 class="text-color">
                @Title
            </h1>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}