<div class="slide-sidebar">
    <p class="section">
        @Section
    </p>
    <h2 class="title">
        @Title
    </h2>
    <div class="logo">
        <img src="/images/logo-white-fit.png"/>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Section { get; set; }
}
