.logo {
    margin-left: 20px;
    margin-right: auto;
    display: flex;
}

.logo img {
    height: 20px;
    margin: auto;
}

.page {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    display: flex;
}

.page p {
    margin: auto;
    font-size: 14px;
}