@page "/blazor/comparison"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Comparison | Blazor | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Comparison" HeaderSection="Blazor">
    <div class="w-100 row">

    </div>
</SlideContent>

@code {

}
