@page "/blazor/hosting-models"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Hosting Models | Blazor | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Hosting Models" HeaderSection="Blazor">
<div class="row w-100">
    <div class="col-6">
        <div title="Blazor Server">
            <div class="row">
                <div class="col-6">
                    <img class="w-100" src="/images/blazor-server.png">
                </div>
                <div class="col-6">
                    <ul>
                        <li>Complete .NET Core API compatibility</li>
                        <li>Direct access to server sources</li>
                        <li>Small payload size with fast initial load time</li>
                        <li>App code secure and private on the server</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div title="Blazor WebAssembly">
            <div class="row">
                <div class="col-6">
                    <img class="w-100" src="/images/blazor-webassembly.png">
                </div>
                <div class="col-6">
                    <ul>
                        <li>Run apps offline once downloaded</li>
                        <li>Static site hosting</li>
                        <li>Offloads processing to clients</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</SlideContent>

@code {
    private string[] definitionItemsColumn1 = new string[]
    {
        "Framework for building SPA",
        "C# instead of JavaScript",
        "Leverage the existing .NET ecosystem",
        "Share app logic across server and client",
        ".NET's performance, reliability, and security",
    };
    
    private string[] definitionItemsColumn2 = new string[]
    {
        "Provided integrated development environment",
        "Simplified API",
        "Standardized API",
        "Gentle learning curve",
        "Decent documentation",
    };
}
