@page "/blazor/applications"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Applications | Blazor | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Applications" HeaderSection="Blazor">
    <div class="w-100 row">

    </div>
</SlideContent>

@code {

}
