@page "/examples/inheritance"
@inherits SlidePage


<PageTitle>@GetBrandedTitle($"Inheritance | Examples |{Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Forms" HeaderSection="Examples">
     <div class="d-flex">
         <div class="d-flex m-auto">
             <div class="m-auto">

             </div>
         </div>
         <div class="d-flex m-auto">
             <div class="d-flex m-auto">

             </div>
         </div>
     </div>
</SlideContent>


@code {

}