@page "/examples/inheritance"
@inherits SlidePage


<PageTitle>@GetBrandedTitle($"Inheritance | Examples |{Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Inheritance" HeaderSection="Examples">
     <div class="d-flex">
         <div class="d-flex m-auto">
             <div class="m-auto">
                <Dog Name="Spike"/>
                <Cat Name="Garfield" />
             </div>
         </div>
         <div class="d-flex m-auto">
             <div class="d-flex m-auto">
                <SourceCodeRenderer SourceCodeKey="AnimalComponent" Language="csharp"/>
                <SourceCodeRenderer SourceCodeKey="DogCatComponents" Language="cshtml-razor"/>
             </div>
         </div>
     </div>
</SlideContent>


@code {

}