@page "/examples/bridge-design-pattern-complex"
@inherits SlidePage
@inject ISourceCodeProvider SourceCodeProvider

<PageTitle>@GetBrandedTitle($"Bridge Design Pattern (Complex Edition) | Examples | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Bridge Design Pattern (Complex Edition)" HeaderSection="Examples">
    <div class="d-flex">
        <div class="d-flex m-auto">
            <div class="m-auto">
               <Wardrobe>
                   <ShelfLeft>
                       Clothes
                   </ShelfLeft>
                   <ShelfRight>
                       Socks
                   </ShelfRight>
               </Wardrobe>
            </div>
        </div>
        <div class="d-flex m-auto">
            <div class="d-flex m-auto">
                <SourceCodeHighlighter SourceCode="@glassComponentSourceCode" Language="cshtml-razor"/>
                <SourceCodeHighlighter SourceCode="@bridgeDesignPatternExampleSourceCode" Language="cshtml-razor"/>
            </div>
        </div>
    </div>
</SlideContent>

@code {
    private string glassComponentSourceCode;
    private string bridgeDesignPatternExampleSourceCode;

    protected override async Task OnInitializedAsync()
    {
        this.glassComponentSourceCode = await SourceCodeProvider.GetSourceCodeStringAsync("GlassRazor");
        this.bridgeDesignPatternExampleSourceCode = await SourceCodeProvider.GetSourceCodeStringAsync("BridgeDesignPattern");
        await base.OnInitializedAsync();
    }
}
