@page "/examples/data-fetching"
@inherits SlidePage


<PageTitle>@GetBrandedTitle($"Data Fetching | Examples |{Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Data Fetching" HeaderSection="Examples">
     <div class="d-flex">
         <div class="d-flex m-auto">
             <div class="m-auto">

             </div>
         </div>
         <div class="d-flex m-auto">
             <div class="d-flex m-auto">

             </div>
         </div>
     </div>
</SlideContent>


@code {

}