@page "/examples/bridge-design-pattern-complex"
@inherits SlidePage
@inject ISourceCodeProvider SourceCodeProvider

<PageTitle>@GetBrandedTitle($"Bridge Design Pattern (Complex Edition) | Examples | {Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Bridge Design Pattern (Complex Edition)" HeaderSection="Examples">
    <div class="d-flex">
        <div class="d-flex m-auto">
            <div class="m-auto">
               <Wardrobe>
                   <ShelfLeft>
                       <img class="w-100 h-100"
                            src="/images/playstation.png"/>
                   </ShelfLeft>
                   <ShelfRight>
                       <img class="w-100 h-100"
                            src="/images/graduation-hat.png"/>
                   </ShelfRight>
                   <HangingSection>
                       <img class="w-100 h-100"
                            src="/images/shirts.png"/>
                   </HangingSection>
                   @* <DrawerTop> *@
                   @*     <!-- Empty --> *@
                   @* </DrawerTop> *@
                   <DrawerBottom>
                       <div class="w-100 h-100 d-flex">
                           <button class="btn btn-primary w-100 p-0 m-auto"
                                   @onclick="() => counter++">
                               Counter @counter
                           </button>
                       </div>
                   </DrawerBottom>
               </Wardrobe>
            </div>
        </div>
        <div class="d-flex m-auto">
            <div class="d-flex m-auto">
                <SourceCodeHighlighter SourceCode="@wardrobeComponentSourceCode" Language="cshtml-razor"/>
                <SourceCodeHighlighter SourceCode="@bridgeDesignPatternExampleSourceCode" Language="cshtml-razor"/>
            </div>
        </div>
    </div>
</SlideContent>

@code {
    private string wardrobeComponentSourceCode;
    private string bridgeDesignPatternExampleSourceCode;
    private int counter;

        protected override async Task OnInitializedAsync()
    {
        this.wardrobeComponentSourceCode = await SourceCodeProvider.GetSourceCodeStringAsync("WardrobeRazor");
        this.bridgeDesignPatternExampleSourceCode = await SourceCodeProvider.GetSourceCodeStringAsync("BridgeDesignPatternComplex");
        await base.OnInitializedAsync();
    }
}
