@page "/thank-you"
@inherits SlidePage

<PageTitle>@GetBrandedTitle($"Thank You | {Texts.Title}")</PageTitle>

<SlideContent Type="SlideType.Main">
    <div class="d-flex h-100 w-100">
        <div class="m-auto text-center">
            <div class="text-white">
                <div class="logo-container text-center">
                    <img src="/images/logo-white-small.png"/>
                </div>
                <h4 class="mb-3">Thank you!</h4>
                <p>@Texts.PresenterContact</p>
                <p>@Texts.WebsiteScalefocus</p>
            </div>
        </div>
    </div>
</SlideContent>


@code {

}
