<div class="human">
    <div class="card">
        <div class="card-body">
            <h5>I am '@Name' and my heart beating is @heartbeating</h5>
            <Heart Name="@HeartName" OnBeatsChanged="HandleHeartbeat"/>
        </div>
    </div>
</div>

@code {
    private string humanId = Guid.NewGuid().ToString();

    private int heartbeating = 0;

    [Parameter]
    public string Name { get; set; }

    private string HeartName => $"Heart of Human with ID: {this.humanId}";

    private void HandleHeartbeat(ChangeEventArgs eventArgs)
    {
        this.heartbeating = (int)eventArgs.Value;
    }
}
